/* Tooltip container */
.tooltip {
    position: absolute;
    left: 71.25%;
    top: 54%;
}

/* Tooltip text */
.tooltiptext {
    width: 400px;
    background-color: #000000;
    color: #fff;
    text-align: left;
    padding: 15px 15px 15px 30px;
    border-radius: 6px;
    left: 0%;
    font-size: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

