/* Reset margin and padding for all elements, and set box-sizing to border-box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set styles for the body element */
body {
    /* Center the body content and set its font, height, and padding */
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
    padding-top: 3%;
}

/* Set common styles for #header, #form, and #datetime */
#header, #form, #datetime {
    margin: 0 1rem;
    min-height: 10vh;
    width: 100%;
}

/* Set styles for the header section */
#header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3rem;
    min-height: 25vh;
    width: 100%;
}

/* Styles for the container of theme buttons */
.flexrow-container {
    align-items: center;
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    margin-right: 3%;
}

/* Styles for individual theme buttons */
.theme-selector {
    border: 1px solid #d1dae3;
    border-radius: 100%;
    height: 35px;
    margin: 0 8px;
    transition: transform 150ms ease-in-out, box-shadow 200ms ease-in-out;
    width: 35px;
}

/* Hover effect for theme buttons */
.theme-selector:hover { 
    box-shadow: white 0 0 8px;
    cursor: pointer;
}

/* Active effect for theme buttons */
.theme-selector:active {
    transform: scale(0.95);
}

/* Animation styles for the title */
#title {
    border-right: solid 3px rgba(0, 0, 0, 0.75);
    overflow: hidden;     
    letter-spacing: 0.20rem;
    margin-left: 5px;
    margin-bottom: 5px;
    max-width: 360px;
    animation: animated-text 2s steps(11,end) 0.5s 1 normal both,
        animated-cursor 750ms steps(11,end) infinite;
}

/* Darker title animation for a specific state */
#title.darker-title {
    
    animation: animated-text 2s steps(11,end) 0.5s 1 normal both, darker-animated-cursor 750ms steps(11,end) infinite;
}

/* Keyframes for the animated text effect */
@keyframes animated-text {
    from { width: 0%; }
    to { width: 400px; }
}

/* Keyframes for the cursor animation */
@keyframes animated-cursor {
    from { border-right-color: rgba(0, 0, 0, 0.75); }
    to { border-right-color: transparent; }
}

/* Keyframes for a darker cursor animation */
@keyframes darker-animated-cursor {
    from { border-right-color: #01394c; }
    to { border-right-color: transparent; }
}

/* Styles for the form */
form {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin: 15px 0;
    padding: 0.8rem;
    width: 100%;
}

/* Styles for form input elements */
form input {
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    max-width: 500px;
    transition: background-color 200ms ease-in-out;
    width: 100%;
}

/* Hover effect for form input elements */
form input:hover {
    cursor: text;
}

/* General styles for buttons */
button {
    border: none;
    outline: none; 
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
}

/* Hover effect for buttons */
button:hover {
    cursor: pointer;
}

/* Styles for the form button */
form button {
    padding: 10px;
    font-size: 17px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 100px;
}

/* Container for the unordered list of to-dos */
#myUnOrdList {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

/* Styles for the unordered list of to-dos */
.todo-list {
    min-width: 25%;
    list-style: none; /* Remove bullets */
}

/* Styles for individual to-do items */
.todo {
    margin: 1rem;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0.5em;
    border-radius: 30px;
    transition: background-color 200ms ease-in-out;
}

/* Styles for list items within to-do items */
.todo li {
    padding: 7px;
    font-size: 20px;
    flex: 1; /* Pushes buttons to the right */
    border-radius: 30px;
    overflow-wrap: anywhere; /* Wraps text */
}

/* Styles for check and delete buttons */
.check-btn, .delete-btn {
    font-size: 19px;
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 80%;
    margin: 0 5px;
}

/* Additional styles for the to-do item */
.todo-item {
    padding: 0rem 0.5rem;
}

/* Prevent pointer events for icons */
.fa-trash, .fa-check { 
    pointer-events: none;
}

/* Styles for completed to-do items */
.completed {
    transition: 0.2s;
    text-decoration: line-through;
    opacity: 0.5;
}

/* Animation for to-do items falling out */
.fall {
    transition: 0.5s;
    transform: translateY(45rem) rotateZ(45deg);
    opacity: 0;
}

/* Responsive design for screens smaller than 1000px */
@media only screen and (max-width: 1000px) {
    .flexrow-container {
        align-self: unset;
        margin-right: 0;
    }
}

/* Responsive design for screens smaller than 800px */
@media only screen and (max-width: 800px) {
    #header {
        font-size: 2rem;
    }

    #title {
        animation: 
            animated-text 3s steps(16,end) 0.5s 1 normal both,
            animated-cursor 750ms steps(16,end) infinite;
        margin-bottom: 10px;
        margin-top: 30px;
        max-width: 330px;
    }
}

/* Responsive design for screens smaller than 400px */
@media only screen and (max-width: 400px) {
    #header {
        font-size: 1.5rem;
    }

    #title {
        animation: 
            animated-text 3.5s steps(16,end) 0.5s 1 normal both,
            animated-cursor 750ms steps(16,end) infinite;
        max-width: 255px;
    }
}

/* Additional responsive design for screens smaller than 400px */
@media only screen and (max-width: 400px) {
    form {
        align-items: center;
        flex-direction: column;
    }

    form input {
        border-radius: 17px;
    }

    form button {
        border-radius: 15px;
        margin-top: 15px;
        width: 50%;
    }

    form > button.light-button {
        box-shadow: 0 0 5px lightgray;
    }
}
