.standard {
    background-image: url('standard.jpg'); /* Use your image URL here */
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: #1a150e;
    transition: 0.3s linear;
}

.standard-theme {
    background-image: url('standard.jpg'); /* Use the same image URL here */
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

form input.standard-input {
    background-color: #181a1a;
    color: rgb(247, 226, 223);
}

form input.standard-input::placeholder {
    color: rgb(247, 226, 223);
    opacity: 0.7;
}

form input.standard-input:hover {
    background-color: rgb(255, 255, 255);
}

button.standard-button {
    background-color: rgb(247, 226, 223);
    color: rgb(0, 0, 0);
}

button.standard-button:hover {
    background-color: white;
    box-shadow: #fff8 0 0 10px;
}

.standard-todo {
    background-color: rgba(26, 27, 27);
    color: rgb(247, 226, 223);
}

